body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background: #673ab7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.seccion {
    background: white;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    padding-bottom: 5px;
}

ul {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
}

ul li {
    margin: 3px 0;
}

p, li, h3 {
    font-size: 16px;
}

.foto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

.hoja-perfil {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #6e6ece; 
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.hoja-perfil img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
}

.datos-personales h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #874b96;
}

.datos-personales p {
    margin: 5px 0;
    font-size: 15px;
    color: #6e6ece;
}